@import url('https://fonts.googleapis.com/css2?family=Hanalei+Fill&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

#title {
    font-family: 'Hanalei Fill', cursive;
    text-align: center;
    font-size: 6em;
    margin-top: 10px;
    margin: 10px;
}

#night_day {
    float: right;
    margin-right: 400px;
    width: 80px;
    height: 30px;
    font-size :medium
}

a {
    text-decoration: none;
    color: black;
}

ul {
    text-align: center;
    margin-top: 80PX;
    display: flex;
    list-style: none;
}

li {
    margin: 100px;   
    font-family: 'Do Hyeon', sans-serif;
    font-size: 1.6em;
}

h2 {
    font-family: 'Do Hyeon', sans-serif;
    font-size: 1.8em;
    text-align: center;
    margin-top: 90px;
}

p {
    font-family: 'Do Hyeon', sans-serif;
    font-size: 1.6em;
    text-align: center;
}